# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Docker & OS
.DS_Store
Thumbs.db
*.log

# modelos
# *.pkl

.env

# VPN — configuración sensible
config/

# Base de datos local
*.sql.bak
"@ | Out-File -FilePath D:\WAF\.gitignore -Encoding UTF8